# Networking / HTTP
requests>=2.31.0

# 科學計算
numpy>=1.25.2
pandas>=1.5.3
scipy>=1.10.1

# 資料讀取
pandas_datareader>=0.10.0

# 網頁解析
beautifulsoup4>=4.12.0

# YAML config
PyYAML>=6.0

# yfinance (穩定版本)
yfinance>=0.2.34
