name: Output

on:
  # push:
    # branches: [ main ]
  schedule:
    - cron: "0 22 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  contents: write
  
jobs:
  rs-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt

      - name: Run RS data script
        run: |
          python stock_data.py
          python financial_data.py


      - name: Commit output files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add stock_ticker.csv financial_data.csv
          git commit -m "Daily Update" || echo "No changes to commit"
          git push

